.all--sides {
    
    display: flex;
    height: 650px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
    width: 100%;
    margin-top: 140px;
    
    
    

    button {
        font-weight: 700;
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 35px;
        margin-bottom: 70px;
        color: #FFFFFF;
        width: 450px !important;
        height: 30px;
        transform: translate(4%);
        margin-top: 80px;
        background: #0C70F2;
        border-radius: 10px;
        opacity: 1;
        border: none;

        a{
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
            padding-top: 15px;
            color: white;
            }
    }

    .keepBuying_button {
        background: #676767;
        margin-top: -50px;
    }

    button:hover {
        opacity: 0.8;
        cursor: pointer;
    } 

    button.gray {
        background: #676767;
    }

}

.left--side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-right: 50px;
    margin-bottom: 150px;
    padding-top: 200px;
    margin-left: 220px;

    img {
        margin-top: -120px;
        width: 340px;
        height: 280px;
        
        
    }

}

.left--side__title {
    p {
        text-align: left;
        padding-left: 5%;
        width: 80%;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

.left--side__description {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 70px;
    align-items: flex-start;
    padding-left: 30px;


    h3 {
        font-size: 22px;
        font-weight: bold;
        padding-bottom: 30px;
        
    }

    p {
        
        border-bottom: 3px solid #0C70F2;
        width: fit-content;
        padding-bottom: 20px;
        

    }

}

.right--side{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    padding-left: 0px;
    
    
   

}



.right--side__title {
    
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 40px !important;
    width: 100%;

    
        

        
    

    
    

    

    h1{
        
        border-bottom: 3px solid #0C70F2;
        padding-bottom: 15px;
        width: 100%;
        font-weight: 100;
        font-size: 33px;
        width: fit-content;
        
        
        

    }


}

.price--color {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 40px;
    margin-bottom: 50px;

    h2 {
        font-size: 30px;
        font-weight: 1000;
    }

    h3{
        padding-top: 20px;
        font-weight: 600;
    }

    p {
        border: 1px solid gray;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        margin-top: 20px;
    }

}

.button {

    margin-bottom: 170px;

    button {
        position: fixed;
        
    }

    img {
        width: 40px;
        position: relative;
        top: 93px;
        left: 105px;
    }
}


