.modal {
    display:block ;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.7);
    background-color: rgba(0,0,0,0.7);
  
}

.all-content {
    
    display: flex;
    flex-direction: column;
    height: 650px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
    width: 60%;
    margin-top: 140px;
    border-radius: 40px;
    background-color: #fefefe;
    
}

.title {
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 30px;

    h1 {
        font-size: 32px;
        text-align:left ;
        margin-left: 348px;
        color:#0C70F2 ;
        font-weight: bold;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items:center ;

    label {
        padding-bottom: 5px;
        margin-top: 10px;
        text-align: left;
        font-size: 20px;
        width: 38%;
    }

    input {
       width: 430px;
       margin-bottom: 17px;
       border: 1px solid #7A7A7A;
       padding: 13px;
       border-radius: 8px;
    }
    
    button {
        margin-right: 7px;
        margin-top: 20px;
        height: 50px;
        width: 380px !important;
        font-weight: 700;
        font-size: 16px;
        padding-top: 13px;
        padding-bottom: 13px;
        color: #FFFFFF;
        background: #0C70F2;
        border-radius: 10px;
        opacity: 1;
        border: none
    }

    button:hover {
        cursor: pointer;
        opacity: 0.9;
    }
    
}