.header {
    background: #2D2D2D;    
    display: flex;
    margin-top: 0px;
    
    

    img {
        width: 130px;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
}